.Home{
    height: 100vh;
    background-color: black;
    color: black;   
    /* overflow: hidden; */
}

.Home-Landing{
    display: flex;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 100vh;
    text-align: center;
    justify-content: center;

}

.Home-Logo{
    width: 20%;
}